# project dependencies
node_modules

# OS
.DS_Store

# text editors
.vscode
.idea

# secrets
.env

# build
/.cache
/netlify/functions/server/build
/public/build
/public/posts
/public/themes
/.netlify

app/tailwind.css

# misc
TODO.md
